.tierList{
    color: white;
    padding: 30px 0;
    text-align: center;
}
/*.tier-header{
    font-size: 2.5em;
    padding: 10px 0;
    text-decoration: underline;
}*/
.sponsor-name{
    font-size: 1.5rem;
    text-align: center;
    color: black
}
.sponsor-logo{
    width: 100%;
}
.sponsor-website{
    font-size: 1.5rem;
    color: blue;
}
.column{
    float: left;
    width: 33.33%;
    padding: 10px 8%;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 825px){
    .column{
        width: 50%;
    }
}