/*Variables*/
:root{
    --header-font-size: 2.5rem;
    --sub-header-font-size: 2.0rem;
    --text-font-size: 1.5rem;
    --title-font-size: 1.4rem;
}

/* About Us */
.aboutUs .header{
    padding-top: var(--default-body-top-header-padding);
}

.aboutUs img{
    height: 25rem;
    padding-top: 1.5%;
    border-radius: 10px;
}

/* Leadership */
.leadership img{
    height: 20rem;
    border-radius: 15px;
}
.leadership .title{
    display: inline-block;
}
.leadership i{
    font-size: 1.5rem;
    display: inline-block;
    color: black;
}
.column{
    float: left;
    width: 33.33%;
    padding: 15px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

.organizationStucture img{
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 825px){
    .column{
        width: 100%;
        padding: 20px 40px;
    }
    .home-buttons{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 1% 8%;
    }
    .buttons{
        font-size: 1rem;
    }
    .header{
        font-size: 2.5rem;
    }
    .header-sponsors{
        font-size: 2.25rem;
    }
}