:root{
    /* Header Variables */
    --default-background-color: rgb(15, 15, 15); /* Off Black */
    --default-page-header-font-size: 3.5vw;
    --default-nav-font-size: 1.00vw;
    --default-hover-background-color: rgb(160, 160, 160);
    --default-dropdown-font-size:1.20rem;
    --default-sub-dropdown-font-size: 1.00rem;
    --default-nav-text-color: white;
    --default-dropdown-width: 11rem;
    --default-footer-padding: 2.5%;

    /* General Section Variables */
    --default-body-header-font-size: 3.0vw;
    --default-body-font-size: 2.0vw;
    --default-body-top-header-padding: 1%;
    --default-body-header-padding: 3%;
    --default-body-button-margin: .5%;
    --default-body-button-padding: .5%;

    /* Home Page Variables */
    --principles-columns: 2;

    /* About BattleBots Variables */
    --default-video-width: 75%;
    --default-video-height: 500px;
    --default-weightClasses-width: 50%;

    /* Contact Form */
    --Width: 375px;
    --Height: 50px;
    --font-size: 1.25rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lemon/Milk';
    font-style: normal;
    font-weight: 400;
    src: local('Lemon/Milk'), url('https://fonts.cdnfonts.com/s/14917/LemonMilk.woff') format('woff');
}

/* Header */
header{
    background-color: var(--default-background-color);
}

header .header-img{
    width: 75%;
    padding: 4em 0;
    display: block;
    margin: 0 auto;
}

header h1{
    text-align: center;
    color: var(--default-nav-text-color);
    font-size: var(--default-page-header-font-size);
    font-weight: bold;
}

/* Nav */
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    padding: 10px 5px;
    list-style: none;
}

nav ul li a{
    font-size: var(--default-nav-font-size);
    font-weight: 400;
    color: var(--default-nav-text-color);
    padding: 10px 5px;
    text-decoration: none;
}

    /* Logo */
    nav a img{
        width: 5.5em;
        height: 3.0rem;
        margin: 10px;
    }

    /* Current Page */
    nav ul li .nav-active{
        text-decoration: underline;
    }


    /* Dropdown */
    nav ul li button{
        font-size: var(--default-nav-font-size);
        color: var(--default-nav-text-color);
        padding: 10px 5px;
        background-color: transparent;
        border: none;
    }

    nav ul li .dropdown-content{
        display: none;
        position: absolute;
        background-color: var(--default-color-dropdown);
        width: var(--default-dropdown-width);
        border-radius: 5px;
    }

    nav ul li .dropdown-content a{
        color: var(--default-nav-text-color);
        padding: 12px 16px;
        display: block;
        font-size: var(--default-dropdown-font-size);
        background-color: var(--default-background-color);
    }

    nav .dropdown:hover button{
        color: var(--default-hover-background-color);
    }

    nav .dropdown:hover .dropdown-content{
        display: block;
    }

    nav .dropdown-content a:hover{
        color:var(--default-hover-background-color);
    }

    /* Hamburger */
    nav .hamburger{
        display: none;
    }

    nav .hamburger .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px 20px 0 0;
        background-color: white;
    }

/*
.caret-right{
    display: inline;
}
.caret-down{
    display: none;
}
*/

/* General Section */
section{
    font-size: var(--default-body-font-size);
    text-align: center;
}

section h1{
    font-size: var(--default-body-header-font-size);
    padding-top: var(--default-body-header-padding);
    font-weight: bold;
}

section p{
    padding: 1% 10% 0 10%;
    line-height: 1.5;
}

section a{
    margin-top: var(--default-body-button-margin);
    padding: var(--default-body-button-padding);
    background-color: var(--default-background-color);
    color: var(--default-nav-text-color);
    text-decoration: none;
    display: inline-block;
}

section .column{
    width: 50%;
    padding: 15px;
    float: left;
}

section .row::after{
    content: "";
    clear: both;
    display: table;
}

/* Home Page */
    /* About Us */
    section .aboutUs h1{
        padding-top: var(--default-body-top-header-padding);
    }

    /* Guiding Principles */
    section .guidingPrinciples ol{
        padding-top: 1%;
        columns: var(--principles-columns);
        -webkit-columns: var(--principles-columns);
        -moz-columns: var(--principles-columns);
        list-style-position: inside;
    } 

    section .guidingPrinciples ol li{
        padding: 2% 0;
    }

    /* Support Us Buttons */
    section .supportButtons{
        padding-bottom: var(--default-body-top-header-padding);
    }

/* About Us Page */
    /* About Us and Guiding Principles */
    section .aboutUs p{
        padding: 0;
    }

    section .aboutUs img{
        height: 40rem;
        margin-top: var(--default-body-top-header-padding);
        border-radius: 10px;
    }
    .aboutUs ol li{
        list-style-position: inside;
        padding: 2% 0;
    }

    /* Leadership */
    section .leadership img{
        height: 25rem;
        border-radius: 15px;
    }

    section .leadership .title{
        display: inline-block;
    }

    section .leadership i{
        font-size: 2rem;
        display: inline-block;
        color: var(--default-background-color);
    }

    section .leadership .column{
        width: 33.33%;
    }

    section .organizationStucture img{
        max-width: 100%;
        height: auto;
    }

/* About BattleBots Page */
    /* About Combat Robotics and About BattleBots */
    .aboutCombatRobotics iframe, .aboutBattleBots iframe{
        padding-top: var(--default-body-top-header-padding);
        width: var(--default-video-width);
        height: var(--default-video-height);
    }

        /* Constrains and Criteria Table */
    section .constrainsAndCriteria table{
        width: var(--default-weightClasses-width);
        margin: 0 auto;
        border-collapse: collapse;
    }
    section .constrainsAndCriteria table th, td{
        text-align: center;
        padding: .5% 0;
    }

/* Sponsors Page */
    /* Sponsors */  /* Same for Home Page*/
    section .sponsors .sponsorLogos{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px 0;
        text-align: center;
    }
    section .sponsors .sponsorLogos a{
        background-color: transparent;
    }

    section .sponsors .sponsorLogos .item{
        padding: 20px 0;
        margin: auto;
        display: block;
    }
    section .sponsors .sponsorLogos .item img{
        width: 50%;
    }
    /* Business Plan */

    /* Sponsor Benefits */
    section .sponsorBenefits table{
        margin: 10px 1% 1% 1%;
        border-collapse: collapse;
        font-size: 1.75rem;
    }

    section .sponsorBenefits table td, th{
        text-align: center;
        padding: 0 100px;
        border: 2px solid;
        font-weight: bold;
    }

    section .sponsorBenefits table tr .bronze{
        background-color: #cd7f32;
    }

    section .sponsorBenefits table tr .silver{
        background-color: rgb(230, 230, 230);
    }

    section .sponsorBenefits table tr .gold{
        background-color: #FFD700;
    }

    section .sponsorBenefits table tr .diamond{
        background-color: #b9f2ff;
    }

/* Contact Us Page*/
    /* Contact Form */
    section form{
        padding-left: 30px;
    }
    section form label{
        float: left;
        padding-right: 25%;
        padding-top: 2%;
    }
    textarea{
        font-size: 20px;
        width: 75%;
        height: 100px;
        resize: vertical;
        box-sizing: border-box;
        float: left;
        padding: 15px 10px;
    }
    input[type=text], input[type=email]{
        font-size: 20px;
        width: 75%;
        padding: 15px 10px;
        box-sizing: border-box;
        float: left;
    }

    input[type=submit]{
        font-size: 20px;
        width: 75%;
        background-color: var(--default-background-color);
        color: var(--default-nav-text-color);
        padding: 15px;
        cursor: pointer;
        margin-top: 1%;
        float: left;
    }

    input[type=submit]:hover{
        background-color: rgb(100, 100, 100);
    }

    /* Social Media */
    section .socialMedia img{
        height: 7rem;
    }

    section .socialMedia a{
        background-color: transparent;
        color: black;
        font-size: 7rem;        
    }

    section .socialMedia table{
        width: 100%;
        padding: 30px 15%;
    }

    section .socialMedia th, td{
        width: 50%;
    }

    section .socialMedia .YouTube{
        padding-top: 20px;
    }
    
/* Resources */

/* Footer */
footer{
    padding-top: 0;
    background-color: var(--default-background-color);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 5rem;
}
.footer-header{
    padding-right: var(--default-footer-padding);
}
.footer-img{
    height: 15px;
    margin-top: 20px;
}
.footer-email{
    font-size: 1rem;
    padding-left: 15px;
    color: white;
}
.footer-socialMedia{
    padding-top: 25px;
    padding-left: var(--default-footer-padding);
}
.footer-icon{
    height: 27.5px;
    padding: 0 10px;
}
.footer-linkedin i{
    font-size: 30px;
    color: white;
    padding-right: 10px;
}

@media only screen and (max-width: 960px){
    header.active{
        position: fixed;
        background-color: var(--default-background-color);
        width: 100%;
        height: 100%;
    }
    .header-img{
        width: 90%;
        padding: 5em 0;
    }
    .header-title{
        font-size: 2.75em;
        padding: 0 20px;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        height: 100%;
        top: 16em;
        flex-direction: column;
        background-color: var(--default-nav-text-color);
        width: 100%;
        text-align: center;
    }
    .nav-menu.active{
        left: 0;
    }
    
    .dropdown-content{
        display: none;
        position: relative;
        background-color: var(--default-color-dropdown);
        width: var(--default-dropdown-width);
    }
    .nav-link{
        font-size: 1.5em;
        color: black;
    }
    .dropbtn{
        font-size: 1.5em;
        color: black;
        width: 6em;
    }
    .sub-nav-link{
        text-align: center;
        color: black;
    }
    .sub-dropbtn{
        margin: auto;
    }
    .caret-right{
        display: none;
    }
    .caret-down{
        display: inline;
    }
    .sub-dropdown-content{
        position: relative;
        left: 0;
        top: 0;
    }

    .hamburger{
        display: block;
        margin: auto 0;
        cursor: pointer;
        background-color: transparent;
    }
    .hamburger.active{
        padding-right: 15px;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .footer-icon{
        height: 23.5px;
        padding: 0 10px;
    }
    .footer-linkedin i{
        font-size: 25px;
        color: white;
        padding-right: 10px;
    }
}