.newsletter{
    padding-top: 30px;
    text-align: center;
}
.newsletter-header{
    font-size: 2.5rem;
}
.newsletter-text{
    font-size: 2.5rem;
}
.name{
    font-size: 1.25rem;
    height: 50px;
    width: 375px;
    border-radius: 5px;
}
.email{
    font-size: 1.25rem;
    height: 50px;
    width: 375px;
    border-radius: 5px;
}
.submit{
    font-size: 1.25rem;
    height: 50px;
    width: 125px;
    border-radius: 5px;
}

footer{
    bottom: 0;
}

@media only screen and (max-width: 960px){

}