:root{
    --default-about-table-width: 50%;
    --default-video-width: 75%;
    --default-video-height: 300px;
    --default-weightClasses-width: 50%;
}

.about .column{
    width: var(--default-about-table-width);
}
.about iframe{
    width: var(--default-video-width);
    height: var(--default-video-height);
}

.weightClasses{
    width: var(--default-weightClasses-width);
    margin: 0 auto;
    border-collapse: collapse;
}
.weightClasses th, td{
    text-align: center;
    padding: .5% 0;
}
@media screen and (max-width: 825px){
    .column{
        width: 100%;
    }
}