.joinBB{
    color: white;
    text-align: center;
    padding: 20px 0;
}
.joinBB-header{
    font-size: 2.5rem;
    padding: 10px 0;
    text-decoration: underline;
}
.joinBB-text{
    font-size: 1.5rem;
}

.socialMedia{
    color: black;
    text-align: center;
}
.socialMedia-header{
    font-size: 2.5rem;
    padding: 10px 0;
    text-decoration: underline;
}
.socialMedia-text{
    font-size: 1.5rem;
}
.socialMedia-link{
    color: blue;
    text-decoration: underline;
}

.contact{
    color: black;
    text-align: center;
}
.contact-header{
    font-size: 2.5rem;
    padding: 10px 0;
    text-decoration: underline;
}
.contact-text{
    font-size: 1.5rem;   
}