/*Variables*/
:root{
    --header-font-size: 2.5rem;
    --sub-header-font-size: 2.0rem;
    --text-font-size: 1.5rem;
    --title-font-size: 1.4rem;
}

/* About Us */
.aboutUs .header{
    padding-top: var(--default-body-top-header-padding);
}

.aboutUs .column{
    width: 50%;
}

.aboutUs img{
    height: 25rem;
    margin-top: var(--default-body-top-header-padding);
    border-radius: 10px;
}

/* Guiding Principles */
ol{
    display: inline-block;
    text-align: left;
}
.aboutUs .principles{
    text-align: center;
}

/* Leadership */
.leadership img{
    height: 20rem;
    border-radius: 15px;
}

.leadership .title{
    display: inline-block;
}

.leadership i{
    font-size: 1.5rem;
    display: inline-block;
    color: black;
}

.leadership .column{
    width: 33.33%;
}

.organizationStucture img{
    max-width: 100%;
    height: auto;
}