.newsletter{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 42px;
}
.newsletter-header{
    font-size: 2.5rem;
    padding: 10px 0px;
}
.newsletter-text{
    font-size: 2.5rem;
}
.name{
    font-size: 1.25rem;
    height: 50px;
    width: 375px;
    border-radius: 5px;
}
.email{
    font-size: 1.25rem;
    height: 50px;
    width: 375px;
    border-radius: 5px;
}
.submit{
    font-size: 1.25rem;
    height: 50px;
    width: 125px;
    border-radius: 5px;
}

