/* To Do
   Fix nav spacing when responsive
*/
/*Universal Stuff*/
body{
    background-image: white;
    color: #000000;
}

/*Header*/
:root{
    --font-size-page-header: 3.75rem;
    --font-size-normal: 1.5rem;
    --font-size-button: 1.5rem;
    --font-size-dropdown-normal: 1.20rem;
    --font-size-dropdown-button: 1.20rem;
    --font-size-sub-dropdown-normal: 1.00rem;
    --text-color: white;
    --background-color-header: rgb(182, 25, 25);
    --background-color-hover: rgb(53, 53, 53);
    --background-color-dropdown: rgb(141, 141, 141);
    --background-color-active: rgb(60, 60, 60);
    --background-color-dropdown-hover: rgb(75, 75, 75);
    --header-height: 400px;
    --dropdown-width: 11rem;
    --footer-padding: 2.5%;
}

@import url('http://fonts.cdnfonts.com/css/lemonmilk');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemon/Milk', sans-serif;
}

header{
    background-color: var(--background-color-header);
    height: var(--header-height);
    width: auto;
}

.header-img{
    width: 75%;
    padding: 4em 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header-title{
    text-align: center;
    color: var(--text-color);
    font-size: var(--font-size-page-header);
    font-weight: bold;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}
.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 20px auto auto;
    background-color: white;
}
.nav-menu{
    display: flex;
    align-items: center;
}
.nav-item{
    padding: 10px 5px;
    list-style: none;
}
.nav-link{
    font-size: var(--font-size-normal);
    font-weight: 400;
    color: var(--text-color);
    padding: 10px 5px;
    text-decoration: none;
}
.nav-active{
    text-decoration: underline;
}
.nav-logo{
    width: 5.5em;
    height: 3.0rem;
    margin: 10px;
}
.dropbtn{
    font-size: var(--font-size-button);
    width: 8.1rem;
    color: var(--text-color);
    padding: 10px 5px;
    background-color: transparent;
    border: none;
}
.dropbtn-active{
    background-color: var(--background-color-dropdown);
}
.navbar a:hover:not(.nav-active), .dropdown:hover .dropbtn{
    color: var(--background-color-hover);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--background-color-dropdown);
    width: var(--dropdown-width);
    border-radius: 5px;
}
.sub-nav-link{
    color: var(--text-color);
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: var(--font-size-dropdown-normal);
}
.dropdown-content a:hover{
    color: var(--background-color-dropdown-hover);
}
.dropdown:hover .dropdown-content{
    display: block;
}
.sub-dropbtn{
    color: var(--text-color);
    background-color: transparent;
    padding: 12px 16px;
    border: none;
    text-decoration: none;
    display: block;
    font-size: var(--font-size-dropdown-button);
}
.caret-right{
    display: inline;
}
.caret-down{
    display: none;
}
.sub-dropdown-content{
    display: none;
    position: absolute;
    left: var(--dropdown-width);
    top: 48px;
}
.sub-sub-nav-link{
    color: var(--text-color);
    background-color: var(--background-color-dropdown);
    text-decoration: none;
    font-size: var(--font-size-sub-dropdown-normal);
    display: block;
    padding: 10px 15px;
}
.sub-dropdown-content a:hover{
    background-color: var(--background-color-dropdown-hover);
}
.sub-dropdown:hover .sub-dropdown-content{
    display: block;
}

footer{
    padding-top: 0;
    background-color: var(--background-color-header);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 5rem;
}
.footer-header{
    padding-right: var(--footer-padding);
}
.footer-img{
    height: 15px;
    margin-top: 20px;
}
.footer-email{
    font-size: 1rem;
    padding-left: 15px;
    color: white;
}
.footer-socialMedia{
    padding-top: 25px;
    padding-left: var(--footer-padding);
}
.footer-icon{
    height: 20px;
    padding: 0 10px;
}
.footer-linkedin i{
    font-size: 21px;
    color: white;
    padding-right: 10px;
}

@media only screen and (max-width: 960px){
    header.active{
        position: fixed;
        background-color: black;
        width: 100%;
        height: 100%;
    }
    .header-img{
        width: 90%;
        padding: 5em 0;
    }
    .header-title{
        font-size: 2.75em;
        padding: 0 20px;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        height: 100%;
        top: 16em;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
    }
    .nav-menu.active{
        left: 0;
    }
    
    .dropdown-content{
        display: none;
        position: relative;
        background-color: var(--background-color-dropdown);
        width: var(--dropdown-width);
    }
    .nav-link{
        font-size: 1.5em;
        color: black;
    }
    .dropbtn{
        font-size: 1.5em;
        color: black;
        width: 6em;
    }
    .sub-nav-link{
        text-align: center;
        color: black;
    }
    .sub-dropbtn{
        margin: auto;
    }
    .caret-right{
        display: none;
    }
    .caret-down{
        display: inline;
    }
    .sub-dropdown-content{
        position: relative;
        left: 0;
        top: 0;
    }

    .hamburger{
        display: block;
        margin: auto 0;
        cursor: pointer;
        background-color: transparent;
    }
    .hamburger.active{
        padding-right: 15px;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}