:root{
    --Width: 375px;
    --Height: 50px;
    --font-size: 1.25rem;
}
.contact{
    text-align: center;
    padding: 10px 10% 0 10%;
}
.contact-header{
    font-size: 2.5rem;
    padding: 10px 0;
}
.contact-text{
    font-size: 2.5rem;
    padding-bottom: 10px;   
}
.information{
    font-size: var(--font-size);
    height: var(--Height);
    width: var(--Width);
    border-radius: 5px;
}

.socialMedia{
    text-align: center;
}
.socialMedia-header{
    font-size: 2.5rem;
    padding: 10px 0;
}
.icon{
    height: 7em;
}
.icon-name{
    font-size: 2em; /*Change to match*/
}
.column{
    float: left;
    width: 33.33%;
    padding: 10px 20px;
    text-align: center;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.caption{
    font-size: 1.75rem;
}

.joinBB{
    text-align: center;
    padding: 20px 0;
}
.joinBB-header{
    font-size: 2.5rem;
    padding: 10px 0;
    border-radius: 5px;
}
.name{
    width: var(--Width);
    height: var(--Height);
    font-size: var(--font-size);
    border-radius: 5px;
}
.email{
    width: var(--Width);
    height: var(--Height);
    font-size: var(--font-size);
    border-radius: 5px;
}
.padding{
    padding-bottom: 5px;
}
.comments{
    width: 600px;
    height: var(--Height);
    font-size: var(--font-size);
    border-radius: 5px;
}
.submit{
    width: 150px;
    height: var(--Height);
    font-size: var(--font-size);
    border-radius: 5px;
}
