/*Variables*/
:root{
    --header-font-size: 2.5rem;
    --sub-header-font-size: 2.0rem;
    --text-font-size: 1.5rem;
}

.link{
    color: white;
    text-align: center;
}
.link-header{
    font-size: var(--header-font-size);
    text-decoration: underline;
    padding: 20px 0 10px 0;
}
.link-icon{
    height: 7em;
}
.link-name{
    font-size: var(--text-font-size);
}
.column{
    float: left;
    width: 25%;
    padding: 10px 20px;
    text-align: center;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

.calendar{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.calendar-header{
    font-size: var(--header-font-size);
    padding: 10px 0px;
    text-decoration: underline;
}

@media screen and (max-width: 825px){
    .column{
        width: 50%;
    }
}