.tierList{
    padding: 30px 0;
    text-align: center;
}
.column{
    float: left;
    width: 25%;
    padding-top: 40px;
    display: block;
}
.sponsor-logo{
    width: 40%;
    text-align: center;
}
.ProgressiveRC{
    padding-top: 20%;
}
.RectifiedRobotics{
    padding-top: 15%;
}
.RadioMaster{
    padding-top: 12.5%;
}
.PioneerPrintCo{
    padding-top: 12.5%;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 825px){
    .column{
        width: 100%;
    }
}