:root{
    /* Header Variables */
    --default-background-color: rgb(15, 15, 15); /* Off Black */
    --default-page-header-font-size: 3.5vw;
    --default-nav-font-size: 1.00vw;
    --default-hover-background-color: rgb(160, 160, 160);
    --default-dropdown-font-size:1.20rem;
    --default-sub-dropdown-font-size: 1.00rem;
    --default-nav-text-color: white;
    --default-dropdown-width: 11rem;
    --default-footer-padding: 2.5%;

    /* Body Variables */
    --default-body-font-size: 2.0vw;
    --default-body-header-font-size: 3.0vw;
    --default-body-top-header-padding: 1%;
    --default-body-header-padding: 3%;
    --default-body-button-margin: .5%;
    --default-body-button-padding: .5%;
}

@import url('http://fonts.cdnfonts.com/css/lemonmilk');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lemon/Milk', sans-serif;
}

/* Header */
header{
    background-color: var(--default-background-color);
}

header .header-img{
    width: 75%;
    padding: 4em 0;
    display: block;
    margin: 0 auto;
}

header h1{
    text-align: center;
    color: var(--default-nav-text-color);
    font-size: var(--default-page-header-font-size);
    font-weight: bold;
}

/* Nav */
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

nav img{
    width: 5.5em;
    height: 3.0rem;
    margin: 10px;
}

/* Hamburger */
nav .hamburger{
    display: none;
}

nav .hamburger .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 20px 0 0;
    background-color: white;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    padding: 10px 5px;
    list-style: none;
}

nav ul li a{
    font-size: var(--default-nav-font-size);
    font-weight: 400;
    color: var(--default-nav-text-color);
    padding: 10px 5px;
    text-decoration: none;
}

nav ul li .nav-active{
    text-decoration: underline;
}

nav ul li button{
    font-size: var(--default-nav-font-size);
    color: var(--default-nav-text-color);
    padding: 10px 5px;
    background-color: transparent;
    border: none;
}

nav ul li .dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--default-color-dropdown);
    width: var(--default-dropdown-width);
    border-radius: 5px;
}

nav ul li .dropdown-content a{
    color: var(--default-nav-text-color);
    padding: 12px 16px;
    display: block;
    font-size: var(--default-dropdown-font-size);
    background-color: var(--default-background-color);
}

/* nav ul li .dropdown .dropdown-content a:hover:not(.nav-active) */
.dropdown:hover button{
    color: var(--default-hover-background-color);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    color:var(--default-hover-background-color);
}

/*
.caret-right{
    display: inline;
}
.caret-down{
    display: none;
}
*/

/* Section */
section{
    font-size: var(--default-body-font-size);
    text-align: center;
}

section .header{
    font-size: var(--default-body-header-font-size);
    padding-top: var(--default-body-header-padding);
    font-weight: bold;
}

section .text{
    padding: 1% 10% 0 10%;
    line-height: 1.5;
}

section a{
    margin-top: var(--default-body-button-margin);
    padding: var(--default-body-button-padding);
    background-color: var(--default-background-color);
    color: var(--default-nav-text-color);
    text-decoration: none;
    display: inline-block;
}

section .column{
    float: left;
    padding: 15px;
}

section .row::after{
    content: "";
    clear: both;
    display: table;
}

/* Footer */
footer{
    padding-top: 0;
    background-color: var(--default-background-color);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 5rem;
}
.footer-header{
    padding-right: var(--default-footer-padding);
}
.footer-img{
    height: 15px;
    margin-top: 20px;
}
.footer-email{
    font-size: 1rem;
    padding-left: 15px;
    color: white;
}
.footer-socialMedia{
    padding-top: 25px;
    padding-left: var(--default-footer-padding);
}
.footer-icon{
    height: 27.5px;
    padding: 0 10px;
}
.footer-linkedin i{
    font-size: 30px;
    color: white;
    padding-right: 10px;
}

@media only screen and (max-width: 960px){
    header.active{
        position: fixed;
        background-color: var(--default-background-color);
        width: 100%;
        height: 100%;
    }
    .header-img{
        width: 90%;
        padding: 5em 0;
    }
    .header-title{
        font-size: 2.75em;
        padding: 0 20px;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        height: 100%;
        top: 16em;
        flex-direction: column;
        background-color: var(--default-nav-text-color);
        width: 100%;
        text-align: center;
    }
    .nav-menu.active{
        left: 0;
    }
    
    .dropdown-content{
        display: none;
        position: relative;
        background-color: var(--default-color-dropdown);
        width: var(--default-dropdown-width);
    }
    .nav-link{
        font-size: 1.5em;
        color: black;
    }
    .dropbtn{
        font-size: 1.5em;
        color: black;
        width: 6em;
    }
    .sub-nav-link{
        text-align: center;
        color: black;
    }
    .sub-dropbtn{
        margin: auto;
    }
    .caret-right{
        display: none;
    }
    .caret-down{
        display: inline;
    }
    .sub-dropdown-content{
        position: relative;
        left: 0;
        top: 0;
    }

    .hamburger{
        display: block;
        margin: auto 0;
        cursor: pointer;
        background-color: transparent;
    }
    .hamburger.active{
        padding-right: 15px;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .footer-icon{
        height: 23.5px;
        padding: 0 10px;
    }
    .footer-linkedin i{
        font-size: 25px;
        color: white;
        padding-right: 10px;
    }
}