.aboutBB-text{
    font-size: 1.5rem;
    text-align: center;
    padding: 30px 10% 0 10%;
}
.weightClasses{
    font-size: 1.5rem;
    width: 50%;
    text-align: center;
    margin: 20px auto 30px auto;
    padding-bottom: 20px
}
.title{
    font-size: 1.75rem;
}
.type{
    width: 175px;
}
.imperial{
    width: 125px;
}
.metric{
    width: 125px
}
th, td{
    border: 1px solid rgb(255, 255, 255);
}

.row{
    text-align: center;
    padding-bottom: 50px;
}
.column{
    float: left;
    width: 50%;
    padding: 10px 0;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}
.bbVideos{
    width: 100%;
    height: 400px
}
