.tierList{
    color: white;
    padding: 30px 0;
    text-align: center;
}
.tier-header{
    font-size: 2.5em;
    padding: 10px 0;
    text-decoration: underline;
}
.sponsor-logo{
    width: 100%;
}
.sponsor-name{
    font-size: 1.5rem;
    text-align: center;
}
.column{
    float: left;
    width: 25%;
    padding: 15px 3%;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}