:root{
    --principles-columns: 2;
}

/* Overall Body */
.aboutUs .header{
    padding-top: var(--default-body-top-header-padding);
}

.guidingPrinciples ol{
    padding-top: 1%;
    columns: var(--principles-columns);
    -webkit-columns: var(--principles-columns);
    -moz-columns: var(--principles-columns);
    list-style-position: inside;
} 

.support{
    padding-bottom: var(--default-body-top-header-padding);
}