:root{
    /* Header Variables */
        --primary-color-value: 30; /*Off-Black */
        --primary-rgb-color: rgb(var(--primary-color-value), var(--primary-color-value), var(--primary-color-value));
        
        --secondary-color-value: 200; /*Off-White */
        --secondary-rgb-color: rgb(var(--secondary-color-value),var(--secondary-color-value),var(--secondary-color-value));

        --tertiary-color-value: 255;
        --tertiary-rgb-color: rgb(var(--tertiary-color-value), var(--tertiary-color-value),var(--tertiary-color-value))
;
        /* navbar font size */
        --navbar-font-size: 1.25vw;

        /* navbar hover color */
        --navbar-hover-color-value: 150;
        --navbar-hover-rgb-color: rgb(var(--navbar-hover-color-value), var(--navbar-hover-color-value), var(--navbar-hover-color-value));

        /* header font size i.e. "Welcome to Midnight Robotics" */
        --nav-header-font-size: 3.5vw;

        /* width of the dropdown area */
        --default-dropdown-width: 16rem;

        /* bottom padding for header */
        --header-padding-bottom: 1vw;

    /* General Section Variables */
        /* section header font size i.e "About Us", "Sponsors" */
        --header-font-size: 3.0vw;

        /* text font size */
        --text-font-size: 2.0vw;

        /* padding for headings and top and bottom of the page */
        --section-padding: 2%;

        /* padding for width and height of buttons */
        --button-padding: .5%;

            /* Home Page Variables */
            /* sets guiding principles to two columns */
            --principles-columns: 2;

            /* About Us Variables */


            /* About BattleBots Variables */
            /* sets the width of the battlebots videos */
            --battlebots-video-width: 75%;

            /* minimum height of battlebots videos */
            --battlebots-video-height: 50vh;
            
            /* width of the weight classes table */
            --weightClasses-table-width: 50%;

            /* Contact Form */

            /* Sponsors */
            --sponsorImageWidth: 225px;
            --sponsorDivHeight: 300px;

            /* Team Resources */
            --cadImageWidth: 900px;
            --cadDivHeight: 400px;
            --imageWidth: 400px;
            --divHeight: 400px;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header{
    background-color: var(--primary-rgb-color);
    padding-bottom: var(--header-padding-bottom);
}

header .header-img{
    width: 75%;
    padding: 4vw 0;
    display: block;
    margin: 0 auto;
}

header h1{
    text-align: center;
    color: var(--tertiary-rgb-color);
    font-size: var(--nav-header-font-size);
    font-weight: bold;
}

/* Nav */
nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    padding: 10px 5px;
    list-style: none;
}

nav ul li a, nav ul li button{
    font-size: var(--navbar-font-size);
    font-weight: 400;
    color: var(--tertiary-rgb-color);
    padding: 0 5px;
    text-decoration: none;
}

    /* Logo */
    nav a img{
        width: 5.5em;
        height: 3.0rem;
        margin: 10px;
    }

    /* Current Page */
    nav ul li .nav-active{
        text-decoration: underline;
    }

    /* Dropdown */
    nav ul li button{
        background-color: transparent;
        border: none;
    }

    nav ul li .dropdown-content{
        display: none;
        position: absolute;
        background-color: var(--default-color-dropdown);
        width: var(--default-dropdown-width);
        border-radius: 5px;
    }

    nav ul li .dropdown-content a{
        color: var(--tertiary-rgb-color);
        background-color: var(--primary-rgb-color);
        font-size: var(--navbar-font-size);
        padding: 10px;
        text-align: left;
        display: block;
    }

    nav .dropdown:hover .dropdown-content{
        display: block;
    }

    nav ul li a:hover:not(.nav-active), nav .dropdown:hover button{
        color:var(--navbar-hover-rgb-color);
    }

    /* Hamburger */
    nav .hamburger{
        display: none;
    }

    nav .hamburger .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px 20px 0 0;
        background-color: var(--tertiary-rgb-color);
    }

/* General Section */
section{
    font-size: var(--text-font-size);
    color: var(--primary-rgb-color);
    background-color: var(--secondary-rgb-color);
    text-align: center;
}

section h1{
    font-size: var(--header-font-size);
    padding-top: var(--section-padding);
    font-weight: bold;
}

section p{
    padding: 1% 10% 0 10%;
    line-height: 1.5;
}

section .button{
    margin-top: var(--default-body-button-margin);
    padding: var(--button-padding);
    background-color: var(--primary-rgb-color);
    color: var(--secondary-rgb-color);
    text-decoration: none;
    display: inline-block;
}

section .column{
    width: 50%;
    padding: 15px;
    float: left;
}

section .row::after{
    content: "";
    clear: both;
    display: table;
}

/* Home Page */
    /* About Us */
    section .aboutUs img{
        padding-top: var(--section-padding);
    }

    /* Guiding Principles */
    section .guidingPrinciples ol{
        padding-top: 1%;
        columns: var(--principles-columns);
        -webkit-columns: var(--principles-columns);
        -moz-columns: var(--principles-columns);
        list-style-position: inside;
    } 

    section .guidingPrinciples ol li{
        padding: 2% 0;
    }

    /* Support Us Buttons */
    section .supportUsButtons{
        padding-bottom: var(--section-padding);
    }

/* About Us Page */
    /* About Us and Guiding Principles */
    section .aboutUs p{
        padding: 0;
    }

    section .aboutUs img{
        height: 40rem;
        /* margin-top: var(---section-padding); */
        border-radius: 10px;
    }
    .aboutUs ol li{
        list-style-position: inside;
        padding: 2% 0;
    }

    /* Leadership */
    section .leadership img{
        height: 25rem;
        border-radius: 15px;
    }

    section .leadership .title{
        display: inline-block;
    }

    section .leadership i{
        font-size: 2rem;
        display: inline-block;
        color: var(--primary-rgb-color);
    }

    section .leadership .column{
        width: 33.33%;
    }

    section .organizationStucture img{
        padding-bottom: var(--section-padding);
        max-width: 100%;
        height: auto;
    }

/* About BattleBots Page */
    /* About Combat Robotics and About BattleBots */
    section .aboutCombatRobotics iframe, section .aboutBattleBots iframe{
        padding-top: var(--section-padding);
        width: var(--battlebots-video-width);
        height: var(--battlebots-video-height);
    }

        /* Constrains and Criteria Table */
    section .constrainsAndCriteria table{
        width: var(--weightClasses-table-width);
        margin: 0 auto;
        border-collapse: collapse;
    }
    section .constrainsAndCriteria table th, td{
        text-align: center;
        padding: .5% 0;
    }

/* Sponsors Page */
    /* Sponsors */  /* Same for Home Page*/
    section .sponsors .sponsorLogos{
        display: grid;
        grid-template-columns: auto auto auto;
    }

    section .sponsors .sponsorLogos .item{
        height: var(--sponsorDivHeight);
        /* border: 1px solid black; */
    }

    section .sponsors .sponsorLogos .item img{
        width: var(--sponsorImageWidth);
    }

     .msoe{
        margin-top: calc((var(--sponsorDivHeight) - (var(--sponsorImageWidth)*(621/507)))/2);
    }

    .mondaySponsor{
        margin-top: calc((var(--sponsorDivHeight) - (var(--sponsorImageWidth)*(644/1107)))/2);
    }

    .midwest{
        margin-top: calc((var(--sponsorDivHeight) - (var(--sponsorImageWidth)*(200/200)))/2);
    }

    .pioneer{
        margin-top: calc((var(--sponsorDivHeight) - (var(--sponsorImageWidth)*(113/320)))/2);
    }

    .progressive{
        margin-top: calc((var(--sponsorDivHeight) - (var(--sponsorImageWidth)*(183/1361)))/2);
    }

    .rectified{
        margin-top: calc((var(--sponsorDivHeight) - (var(--sponsorImageWidth)*(605/1263)))/2);
    }

    .totalboat{
        margin-top: calc((var(--sponsorDivHeight) - (var(--sponsorImageWidth)*(299/768)))/2); 
    }

    .radiomaster{
        margin-top: calc((var(--sponsorDivHeight) - (var(--sponsorImageWidth)*(305/818)))/2); 
    }

    .smc{
        margin-top: calc((var(--sponsorDivHeight) - (var(--sponsorImageWidth)*(383/1200)))/2); 
    }

    .fingertech{
        margin-top: calc((var(--sponsorDivHeight) - (var(--sponsorImageWidth)*(340/733)))/2); 
    }

    /* Business Plan */

    /* Sponsor Benefits */
    section .sponsorBenefits{
        padding: 0 2% 2% 2%;
    }
    section .sponsorBenefits table{
        border-collapse: collapse;
        font-size: 1.75rem;
    }

    section .sponsorBenefits table td, th{
        text-align: center;
        padding: 0 100px;
        border: 2px solid;
        font-weight: bold;
    }

    section .sponsorBenefits table tr .bronze{
        background-color: #cd7f32;
    }

    section .sponsorBenefits table tr .silver{
        background-color: rgb(230, 230, 230);
    }

    section .sponsorBenefits table tr .gold{
        background-color: #FFD700;
    }

    section .sponsorBenefits table tr .diamond{
        background-color: #b9f2ff;
    }

/* Contact Us Page*/
    /* Contact Form */
    section form{
        padding-left: 30px;
    }

    section form label{
        float: left;
        padding-right: 25%;
        padding-top: 2%;
    }

    input[type=text], input[type=email], textarea{
        font-size: 20px;
        width: 75%;
        padding: 15px 10px;
        box-sizing: border-box;
        color: var(--secondary-rgb-color);
        background-color: var(--primary-rgb-color);
        float: left;
    }

    textarea{
        resize: vertical;
    }

    input[type=submit]{
        font-size: 20px;
        width: 75%;
        background-color: var(--primary-rgb-color);
        color: var(--secondary-rgb-color);
        padding: 15px;
        cursor: pointer;
        margin-top: 1%;
        float: left;
    }

    input[type=submit]:hover{
        background-color: rgb(100, 100, 100);
    }

    /* Social Media */
    section .socialMedia img{
        height: 7rem;
    }

    section .socialMedia a{
        background-color: transparent;
        color: black;
        font-size: 7rem;        
    }

    section .socialMedia table{
        width: 100%;
        padding: 30px 15%;
    }

    section .socialMedia th, td{
        width: 50%;
    }

    section .socialMedia .YouTube{
        padding-top: 20px;
    }
    
/* Resources */
    section .resources .cad{
        padding: var(--section-padding) 0;
        display: grid;
        grid-template-columns: auto auto;
    }

    section .resources .cad .item{
        height: var(--cadDivHeight);
    }

    section .resources .cad p{
        margin-top: 150px;
    }

    section .resources .cad .item img{
        width: var(--cadImageWidth);
    }

    section .resources .organization{
        display: grid;
        grid-template-columns: auto auto;
    }

    section .resources .organization .column{
        display: grid;
        grid-template-columns: auto auto;
    }

    section .resources .organization .column .item img, section .resources .organization .column .item i{
        width: var(--imageWidth);
    }
    
    section .resources .organization .column p{
        margin-left: 30px;
        margin-top: 150px;
        width: var(--imageWidth);
        font-size: 1.75vw;
    }

    .discordTxt{
        transform: translateY(-100px);
    }

    .monday{
        margin-top: calc((var(--divHeight) - (var(--imageWidth)*(644/1107)))/2);    
    }

    .slack{
        margin-top: calc((var(--divHeight) - (var(--imageWidth)*(1600/1600)))/2);
    }

    .googledrive{
        margin-top: calc((var(--divHeight) - (var(--imageWidth)*(2058/2295)))/2);
    }

    .outlook{
        margin-top: calc((var(--divHeight) - (var(--imageWidth)*(952/1024)))/2);
    }

    .linkedin{
        /* margin-top: calc((var(--divHeight) - (var(--imageWidth)*(1600/1600)))/2); */
        font-size: calc(var(--imageWidth)*1);

    }

/* Footer */
footer{
    padding: 0 20px;
    background-color: var(--primary-rgb-color);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 5rem;
}
.footer-header{
    padding-right: var(--default-footer-padding);
}
.footer-img{
    height: 15px;
    margin-top: 20px;
}
.footer-email{
    font-size: 1rem;
    padding-left: 15px;
    color: var(--secondary-rgb-color);
}
.footer-socialMedia{
    padding-top: 25px;
    padding-left: var(--default-footer-padding);
}
.footer-icon{
    height: 27.5px;
    padding: 0 10px;
}
.footer-linkedin i{
    font-size: 30px;
    color: var(--secondary-rgb-color);
    padding-right: 10px;
}

@media only screen and (max-width: 500px){
    /* nav ul{
        position: fixed;
        left: 100%;
        height: 100%;
        top: 14em;
        flex-direction: column;
        background-color: var(--secondary-rgb-color);
        width: 100%;
        text-align: center;
    }
    nav ul.active{
        left: 0;
    }

    nav .hamburger{
        display: block;
        margin: auto 0;
        cursor: pointer;
        background-color: transparent;
    }

    nav .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    nav .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    nav .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    nav ul li a, nav ul li .dropdown button{
        color: var(--primary-color-value);
    }
    
    nav ul li .dropdown .dropdown-content{
        display: none;
        position: relative;
        background-color: var(--default-color-dropdown);
        width: var(--default-dropdown-width);
    }

    button{
        font-size: 1.5em;
        color: var(--primary-color-value);
        width: 6em;
    }

    .sub-nav-link{
        text-align: center;
        color: var(--primary-color-value);
    }
    .sub-dropbtn{
        margin: auto;
    }

    .caret-right{
        display: none;
    }
    
    .caret-down{
        display: inline;
    }

    .sub-dropdown-content{
        position: relative;
        left: 0;
        top: 0;
    }

    .footer-icon{
        height: 23.5px;
        padding: 0 10px;
    }
    .footer-linkedin i{
        font-size: 25px;
        color: white;
        padding-right: 10px;
    } */
}