/*Variable*/
:root{
    --header-font-size: 2.5rem;
    --leadership-text-font-size: 1.5rem;
}


.aboutUs{
    color: white;
    text-align: center;
    padding: 20px 0;
}
.aboutUs-header{
    font-size: var(--header-font-size);
    padding: 10px 0;
    text-decoration: underline;
}


.aboutUs-text{
    font-size: 1.5rem;
    padding: 15px 10%;
}

.leadership{
    color: white;
    text-align: center;
}
.leadership-header{
    font-size: var(--header-font-size);
    padding: 0 1.5rem;
    text-decoration: underline;
}
.leadership .name{
    font-size: var(--leadership-text-font-size);
}
.leadership .title{
    font-size: var(--leadership-text-font-size);
}

.subTeam-leadership{
    color: black;
}
.subTeam-leadership-header{
    font-size: var(--header-font-size);
    padding: 0 1.5rem;
    text-decoration: underline;
}
.picture{
    width: 62.5%;
}
.subTeam-leadership .name{
    font-size: var(--leadership-text-font-size);
    color: black;
}
.subTeam-leadership .title{
    font-size: var(--leadership-text-font-size);
    color: black;
}
.linkedin i{
    font-size: 1.25rem;
    color: black;
}
.column{
    float: left;
    width: 33.33%;
    padding: 15px 30px;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 768px){
    .column{
        width: 50%;
        padding: 20px 40px;
    }
    .home-buttons{
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 1% 8%;
    }
    .buttons{
        font-size: 1rem;
    }
    .header{
        font-size: 2.5rem;
    }
    .header-sponsors{
        font-size: 2.25rem;
    }
}